# Test Results

## Date: 2026-09-19 18:25:43

`	ext
﻿============================= test session starts =============================
platform win32 -- Python 3.13.7, pytest-9.1.1, pluggy-1.6.0 -- C:\Users\olehl\AppData\Local\Programs\Python\Python313\python.exe
cachedir: .pytest_cache
rootdir: C:\─юъєьхэЄш(ыюъры№э│)\Visual Studio Code projects(ыюъры№э│)\Sudoku-game
plugins: cov-7.1.0
collecting ... collected 6 items

test_gui.py::test_format_time PASSED                                     [ 16%]
test_gui.py::test_check_game_over PASSED                                 [ 33%]
test_gui.py::test_find_empty PASSED                                      [ 50%]
test_gui.py::test_valid PASSED                                           [ 66%]
test_gui.py::test_move_selection PASSED                                  [ 83%]
test_gui.py::test_reset_game PASSED                                      [100%]

=============================== tests coverage ================================
_______________ coverage: platform win32, python 3.13.7-final-0 _______________

Name     Stmts   Miss  Cover
----------------------------
GUI.py     326    243    25%
----------------------------
TOTAL      326    243    25%
============================== 6 passed in 0.38s ==============================

`
